<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div>
      <table>
        <thead>
          <tr>
            <th>page no.</th>
            <th>page title</th>
            <th>page progress</th>
            <th>page link</th>
          </tr>
        </thead>
        <tbody>
          <% pages.forEach((page, index) => { %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= page.title %></td>
            <td>-</td>
            <!-- 여기에는 추후 '진행 상태'를 넣으면 좋아 -->
            <td>
              <a href="/<%= page.route %>/<%= page.path %>"
                ><%= page.route %>/<%= page.path %></a
              >
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </body>
</html>
