<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title><%= title %></title>
  </head>
  <body>
    <% include ../layout/header-normal.ejs %> <% include
    ../layout/header-min.ejs %>
    <main>
      <% for (let i = 0; i < 10; i++) { %>
      <p><%= title %> - <%= i + 1 %></p>
      <p><%= path %> - <%= i + 1 %></p>
      <% } %>
    </main>
    <% include ../layout/lnb.ejs %> <% include ../layout/footer.ejs %>
    <script src="/javascripts/header.js"></script>
    <script src="/javascripts/lnb.js"></script>
  </body>
</html>
